<div class="container">
    <% if @vehicles %>
        <h3 align="center">Vehicle(s) Found- <%= @vehicles.count %></h3><hr>
        <%= render 'vehicle_list' %>
    <% elsif @customers %>
        <h3 align="center">Customer(s) Found- <%= @customers.count %></h3><hr>
        <%= render 'customers_list' %>
    <% else %>
        <p>No Data TO SHow</p>
    <% end %>
</div>